<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ page.description | default: site.description }}">
  <meta name="keywords" content="{{ page.keywords | default: 'Room Envelopes' }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title | default: site.title }}</title>

  <!-- Google Analytics -->
  {% if site.gtag %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.gtag }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.gtag }}');
  </script>
  {% endif %}

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans|Castoro" rel="stylesheet">

  <!-- Bulma CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/nerfies.github.io-main/static/css/bulma.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/nerfies.github.io-main/static/css/bulma-carousel.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/nerfies.github.io-main/static/css/bulma-slider.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/nerfies.github.io-main/static/css/index.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/nerfies.github.io-main/static/js/bulma-carousel.min.js"></script>
  <script src="{{ site.baseurl }}/nerfies.github.io-main/static/js/bulma-slider.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/nerfies.js"></script>
</head>
<body>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start" style="flex-grow: 1; justify-content: center;">
      <a class="navbar-item" href="{{ site.baseurl }}/">
        <span class="icon">
          <i class="fas fa-home"></i>
        </span>
      </a>
    </div>
  </div>
</nav>

<section class="hero">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <div class="columns is-centered">
        <div class="column has-text-centered">
          <h1 class="title is-1 publication-title">{{ page.title }}</h1>
          <div class="is-size-5 publication-authors">
            {% for author in page.authors %}
            <span class="author-block">
              <a href="{{ author.url }}">{{ author.name }}</a>{% unless forloop.last %},{% endunless %}
            </span>
            {% endfor %}
          </div>

          {% if page.description %}
          <div class="is-size-5 publication-authors">
            <span class="publication-venue">{{ page.description }}</span>
          </div>
          {% endif %}

          {% if page.awards %}
          <div class="publication-awards">{{ page.awards }}</div>
          {% endif %}

          <div class="column has-text-centered">
            <div class="publication-links">
              {% for link in page.links %}
              <span class="link-block">
                <a href="{{ link.url }}"
                   class="external-link button is-normal is-rounded is-dark">
                  <span class="icon">
                    <i class="{{ link.icon }}"></i>
                  </span>
                  <span>{{ link.text }}</span>
                </a>
              </span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container is-max-desktop">
    <div class="columns is-centered">
      <div class="column is-full-width">
        <div class="content has-text-justified">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>


<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <a class="icon-link" href="{{ site.baseurl }}/">
        <i class="fas fa-home"></i>
      </a>
      {% if site.social-network-links %}
      {% for social in site.social-network-links %}
      <a class="icon-link" href="https://{{ social[0] }}.com/{{ social[1] }}" class="external-link">
        <i class="fab fa-{{ social[0] }}"></i>
      </a>
      {% endfor %}
      {% endif %}
    </div>
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="content">
          <p>
            Template was borrowed from <a href="https://github.com/nerfies/nerfies.github.io">Nerfies</a> under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

</body>
</html>